<div class="avatar-wrapper">
  {% for item in site.data.[page.class].students %}
  <div class="member-wrapper" style="background-color: {{ item.color }};" tabindex="0">
    <div title="{{ item.name }}" class="ahumanbeing">
      <div class="bghover" style="background-color: {{ item.color }};"></div>
    <img alt="{{ item.name }} avatar" title="{{ item.name }}'s avatar" class="avatar-img" src="{{site.url}}/assets/images/{{ item.image }}">
  </div>
  <div title="{{ item.name }}'s info" class="member-card">
    <p class="member-name" style="color: {{ item.color }};">
      {{ item.name }}
    </p>
    <a href="https://{{ item.url}}" target="_blank" data-background="EB88A6" tabindex="0" class="profile-button"> Visit Porfolio </a>
  </div>
</div>
{% endfor %}
</div>
