
<div class="courseBox">
<h2>Study Graphic Design at OSU</h2>
<details>
	<summary>See full course list</summary>
<div class="courseList">
<h4>Sophomore Classes</h4>
	<a href="https://oregonstate-gd.com/technology-and-production/"><span>GD Technology and Production</span>  <span>GD 200</span></a>
	<a href="https://oregonstate-gd.com/typography-1/"><span>Typography 1 Advanced Structures</span>  <span>GD 226</span></a>
	<a href="https://oregonstate-gd.com/collaborative-processes/"><span>Processes: Making and Meaning</span>  <span>GD 228</span></a>
	<a href="https://oregonstate-gd.com/interactive-design-1/"><span>Interactive Design 1</span>  <span>GD 224</span></a>
	<a href="https://oregonstate-gd.com/graphic-design-history/"><span>Graphic Design History</span>  <span>GD 269</span></a> 
	<h4>Junior Classes</h4>
<a href="https://oregonstate-gd.com/contemporary-issues-in-design/"><span>Contemporary Issues in Design</span>  <span>GD 312</span></a>
<a href="https://oregonstate-gd.com/collaborative-processes-2/"><span>Collaborative Processes</span>  <span>GD 325</span></a>
<a href="https://oregonstate-gd.com/typography-2/"><span>Typography 2</span>  <span>GD 326</span></a>
<a href="https://oregonstate-gd.com/typography-expressive-type/"><span>Typography 3 Expressive Type</span>  <span>GD 327</span></a>
<a href="https://oregonstate-gd.com/interactive-2/"><span>Interactive 2</span>  <span>GD 328</span></a>
<h4>Senior Classes</h4>
<p><a href="https://oregonstate-gd.com/professional-practices/"><span>Professional Practices</span>  <span>GD 420</span></a>
<a href="https://oregonstate-gd.com/brand-identity-systems/"><span>Brand Identity Systems</span>  <span>GD 424</span></a>
<a href="https://oregonstate-gd.com/portfolio-review/"><span>Portfolio Review</span>  <span>GD 419</span></a>
<a href="https://oregonstate-gd.com/capstone-1/"><span>Capstone 1</span>  <span>GD 426</span></a>
<a href="https://oregonstate-gd.com/capstone-2/"><span>Capstone 2</span>  <span>GD 427</span></a>
<h4>Electives</h4>
<a href="https://oregonstate-gd.com/graphic-design-studio/"><span>Graphic Design Studio (FLUX)</span>  <span>GD 429</span></a>
<a href="https://oregonstate-gd.com/graphic-design-practicum/"><span>Graphic Design Practicum</span>  <span>GD 430</span></a>
<p style="outline: none;"><a href="https://oregonstate-gd.com/special-topics/"><span>Graphic Design Special Topics</span>  <span>GD 499</span></a>

	</div>
</details>
</div>