<div class="galleryHeader">
  <h2>Meet the team</h2>
  <svg id="nextButton" tabindex="0" onclick="updateStatus()" onkeypress="updateStatus()" width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M27 49.5C39.4264 49.5 49.5 39.4264 49.5 27C49.5 14.5736 39.4264 4.5 27 4.5C14.5736 4.5 4.5 14.5736 4.5 27C4.5 39.4264 14.5736 49.5 27 49.5Z" stroke="black" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M27 36L36 27L27 18" stroke="black" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M18 27H36" stroke="black" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

</div>
<div class="gallery">
  <a class="carousel-cell" href="feyder.design">
    <img src="https://via.placeholder.com/320x400" alt="">
    <div class="cardText">
      <div>
         <p class="cardTitle">Rick Febre</p> 
         <small>febrer@oregonstate.edu</small>
       </div>
      <span class="linkArrow">-></span>
    </div>
  </a>
  <a class="carousel-cell" href="feyder.design">
    <img src="https://via.placeholder.com/320x400" alt="">
    <div class="cardText">
      <div>
        <p class="cardTitle">Deann Garcia</p> 
         <small>garciad@oregonstate.edu</small>
      </div>
     </div>
  </a>
    <a class="carousel-cell" href="feyder.design">
    <img src="https://via.placeholder.com/300x400" alt="">
    <div class="cardText">
      <div>
        <p class="cardTitle">Christine Gallagher</p> 
         <small>gallagherc@oregonstate.edu</small>
      </div>
     </div>
  </a>
      <a class="carousel-cell" href="feyder.design">
    <img src="https://via.placeholder.com/300x400" alt="">
    <div class="cardText">
      <div>
        <p class="cardTitle">Jun Shin Bum</p> 
         <small>gallagherc@oregonstate.edu</small>
      </div>
     </div>
  </a>
</div>