<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DM+Serif+Display&display=swap" rel="stylesheet">
  <title>{{page.title}}</title>
  <meta content="{{site.tagline}}" name=description property=description />
  <!-- favicon -->
  <link rel="stylesheet" href="/css/neomain.css">
</head>
<!-- skip to content link -->
<!-- <a href="#content" id="skipNav" tabindex="0">Skip to Content</a> -->

<main id="content">
{{content}}
{% include footer.html %}
</main>
</html>
